@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Ruda:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    font-family: "Ruda", sans-serif;
    font-style: normal;
}

#header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar-nav {
    width: 400%;
}

#home {
    position: relative;
    background-image: url("./assets/banner_img.svg");
    background-size: cover;
    background-position: center;
    height: 150vh;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    background-color: transparent;

}

.overlay h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    background-color: transparent;
    font-family: "Quattrocento", serif;
    font-weight: 700;
    letter-spacing: 0.09em;
}

.overlay .dash {
    background-color: #F24C4C;
    width: 586px;
    height: 13px;
    margin-top: 40px;
}

.overlay p {
    width: 580px;
    margin-top: 40px;
    background-color: transparent;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.09em;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    font-family: "Quattrocento", serif;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}

.about-us .dash-1 {
    width: 400px;
    height: 10px;
    background-color: #B62828;
}

.about-us .dash-2 {
    width: 65%;
    height: 4px;
    background-color: #F24C4C;
    margin-bottom: 20px;
    margin-top: 50px;
}

.about-us .container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-us img {
    width: 50%;
    border-radius: 10px;
}

.about-us p {
    width: 85%;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
}

#menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1 {
    font-family: "Quattrocento", serif;
    font-size: 60px;
}

.menu .dash-3 {
    width: 400px;
    height: 9px;
    background-color: #B62828;
}

.menu p {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: left;
    margin: 60px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.item-details {
    display: flex;
    flex-direction: column;
}


.item-details h5 {
    font-size: 20px;
    color: #F2C94C;
    margin: 0;
    padding: 20px;
}

.item-details p {
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding-left: 20px;
}

#carousel {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel .dash {
    background-color: #B62828;
    width: 474px;
    height: 9px;
    margin-bottom: 60px;
}

.carousel h1 {
    font-family: "Quattrocento", serif;
    font-size: 60px;

}

#carouselExampleIndicators {
    width: 80%;
}

#carousel .d-block {
    aspect-ratio: 18/7;
    object-fit: cover;
    border-radius: 10px;
}


.carousel-indicators {
    background-color: transparent;
    position: absolute;
    top: 105%;
}

.carousel .carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    position: absolute;
    left: -60%;
}

.carousel-control-next-icon {
    position: absolute;
    right: -60%;
}

.gallary {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallary h1 {
    font-family: "Quattrocento", serif;
    font-size: 60px;
}

.gallary .gallary-dash {
    width: 474px;
    height: 9px;
    background-color: #B62828;
    margin: 10px 0;
}

.gallary-grid {
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: 2.86fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    align-items: stretch;
}

.gallary-grid img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}


.grid-item-1 {
    grid-column: 1;
    grid-row: 1/ span 6;
}

.grid-item-2 {
    /* width: 100%; */
    grid-column: 2;
    grid-row: 1/3;
}

.grid-item-3 {
    width: 100%;
    grid-column: 2;
    grid-row: 5/7;
}

.grid-item-4 {
    grid-column: 3;
    grid-row: 1 /4;
}

.grid-item-5 {
    grid-column: 2;
    grid-row: 3/5;
}

.grid-item-6 {
    grid-column: 3;
    grid-row: 4/ 7;
}

.find-us {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-us h1 {
    font-family: "Quattrocento", serif;
    font-size: 60px;
}

.find-us .dash {
    margin-bottom: 50px;
    width: 499px;
    height: 9px;
    background-color: #B62828;
}

.find-us .container .details p {
    width: 90%;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.09em;
}

.find-us .container .location img {
    width: 55px;
    height: 40px;
}

.find-us .container .location p {
    font-size: 20px;
    letter-spacing: 0.09em;
}

.find-us .container .contact img {
    width: 55px;
    height: 40px;
}

.find-us .container .contact ul {
    font-size: 20px;
}

.find-us .container iframe {
    width: 150%;
    height: 60vh;
}

.footer {
    padding: 100px 50px 50px 50px;
}

.footer img {
    width: 202.79px;
    height: 148.96px;
}

.footer .contact-box .mail img {
    width: 55px;
    height: 40px;
}

.footer .contact-box .contact img {
    width: 55px;
    height: 40px;
}

.footer .contact-box {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.footer .mail p {
    font-size: 1.2em;
}

.footer .contact ul {
    font-size: 1.2em;
}

/* Media query for screens up to 576px (mobile screens) */
@media (max-width: 576px) {

    /* Adjustments for header */
    #header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
    }
        .navbar-nav {
            width: 100%;

        }

        /* Adjustments for overlay content in the home section */
        .overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .overlay h1 {
            font-size: 3.5rem;
        }

        .overlay .dash {
            width: 70%;
        }

        .overlay p {
            width: 90%;
            margin-top: 20px;
            font-size: 18px;
            line-height: 30px;
        }

        /* Adjustments for about-us section */
        .about-us .dash-1 {
            width: 70%;
        }

        .about-us .container {
            flex-direction: column;
            align-items: center;
            padding: 0 40px;
        }

        .about-us img {
            width: 100%;
            margin-top: 30px;
            border-radius: 10px;
        }

        .about-us p {
            width: 100%;
            margin: 20px 0;
            font-size: 18px;
            line-height: 30px;
            text-align: left;
        }

        /* Adjustments for menu section */
        .menu .dash-3 {
            width: 70%;
        }

        .menu p {
            margin: 30px 30px;
        }

        .row-1 {
            flex-direction: column;
            margin: 30px 40px;
        }

        .item-details {
            margin-top: 20px;
            margin-bottom: 30px;
            align-items: center;
            text-align: center;
        }

        .item-details h5,
        .item-details p {
            padding: 0 10px;
            margin: 0;
            text-align: center;
        }

        /* Adjustments for carousel section */
        #carousel .dash {
            width: 70%;
        }

        #carousel .d-block {
            aspect-ratio: 16/9;
            object-fit: cover;
        }


        .carousel .carousel-indicators {
            top: 110%;
        }

        /* Adjustments for gallery section */
        .gallary .gallary-dash {
            width: 70%;
        }

        .gallary-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
        }

        .grid-item-1 {
            grid-column: 1;
            grid-row: 1;
        }

        .grid-item-2 {
            grid-column: 1;
            grid-row: 2;
        }

        .grid-item-3 {
            grid-column: 1;
            grid-row: 3;
        }

        .grid-item-4 {
            grid-column: 2;
            grid-row: 1;
        }

        .grid-item-5 {
            grid-column: 2;
            grid-row: 2;
        }

        .grid-item-6 {
            grid-column: 2;
            grid-row: 3;
        }

        .gallary-grid img {
            width: 100%;
        }

        /* Adjustments for find-us section */
        .find-us .dash {
            width: 70%;
        }

        .find-us .container {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

        .find-us .container .details p {
            width: 100%;
            font-size: 16px;
            padding: 0 25px;
        }

        .find-us .container .contact ul {
            font-size: 16px;
        }

        .find-us .container .location,
        .find-us .container .contact {
            padding: 0 25px;
        }


        .find-us .container iframe {
            width: 100%;
            padding: 0 25px;
            height: 50vh;
            padding-right: 15px;
            margin-top: 20px;
        }

        /* Adjustments for footer */
        .footer {
            padding: 50px;
            display: flex;
            flex-wrap: wrap;
        }

        .footer img {
            width: 100px;
            height: auto;
        }

        .footer .contact-box {
            width: 70%;
            margin-left: 20px;
        }

        .footer .contact-box .mail img {
            width: 45px;
            height: 30px;
        }

        .footer .contact-box .contact img {
            width: 45px;
            height: 30px;
        }

        .footer .contact-box {
            width: 40%;
            display: flex;
            flex-direction: column;
        }

        .footer .mail p {
            font-size: 1em;
        }

        .footer .contact ul {
            font-size: 1em;
        }

    }


    /* Media query for screens smaller than 768px */
    @media (min-width: 577px) and (max-width: 767px) {
        .navbar-nav {
            width: 100%;
        }

        .overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .overlay h1 {
            font-size: 3.5rem;
        }

        .overlay .dash {
            width: 70%;
        }

        .overlay p {
            width: 90%;
            margin-top: 20px;
            font-size: 18px;
            line-height: 30px;
        }

        .about-us .dash-1 {
            width: 70%;
        }

        .about-us .dash-2 {
            width: 80%;
        }

        .about-us .container {
            flex-direction: column;
        }

        .about-us img {
            width: 100%;
            margin-top: 30px;
        }

        .about-us p {
            width: 100%;
            margin: 20px 0;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
        }

        .menu .dash-3 {
            width: 70%;
        }

        .menu p {
            margin: 30px 20px;
            padding: 0 20px;
        }

        .row-1 {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 20px;
        }

        .item-details {
            align-items: center;
            text-align: center;
        }

        .item-details h5,
        .item-details p {
            margin-top: 20px;
            padding: 0 10px;
            text-align: center;
        }

        #carousel .dash {
            width: 70%;
        }

        .carousel .carousel-indicators {
            top: 110%;
        }

        .gallary-dash {
            width: 70%;
        }

        .gallary-grid {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .gallary-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
        }

        .grid-item-1 {
            grid-column: 1;
            grid-row: 1;
        }

        .grid-item-2 {
            grid-column: 1;
            grid-row: 2;
        }

        .grid-item-3 {
            grid-column: 1;
            grid-row: 3;
        }

        .grid-item-4 {
            grid-column: 2;
            grid-row: 1;
        }

        .grid-item-5 {
            grid-column: 2;
            grid-row: 2;
        }

        .grid-item-6 {
            grid-column: 2;
            grid-row: 3;
        }


        .find-us .dash {
            width: 70%;
        }

        .find-us .container .details p {
            width: 100%;
            font-size: 1.1em;
            padding-right: 15px;
            line-height: 30px;
        }

        .find-us .container .location {
            margin-top: 60px;
        }

        .find-us .container .location img {
            width: 45px;
            height: 30px;
        }

        .find-us .container .location p {
            font-size: 1em;
            letter-spacing: 0.09em;
        }

        .find-us .container .contact img {
            width: 45px;
            height: 30px;
        }

        .find-us .container .contact ul {
            font-size: 1em;
        }

        .find-us .container iframe {
            width: 100%;
            height: 50vh;
        }

        .footer {
            padding: 50px;
            display: flex;
        }

        .footer img {
            width: 100px;
            height: auto;
            margin-left: 20px;
        }

        .footer .contact-box {
            width: 70%;
            margin-left: 50px;
        }

        .footer .contact-box .mail img {
            width: 45px;
            height: 30px;
        }

        .footer .contact-box .contact img {
            width: 45px;
            height: 30px;
        }

        .footer .contact-box {
            width: 40%;
            display: flex;
            flex-direction: column;
        }

        .footer .mail p {
            font-size: 1em;
        }

        .footer .contact ul {
            font-size: 1em;
        }
    }

    /* Media query for screens between 768px and 992px */
    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav {
            width: 300%;
        }

        .overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .overlay h1 {
            font-size: 4rem;
        }

        .overlay .dash {
            width: 70%;
        }

        .overlay p {
            width: 90%;
            margin-top: 20px;
            font-size: 18px;
            line-height: 30px;
        }

        .row-1 {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 20px;
        }

        .item-details {
            align-items: center;
            text-align: center;
        }

        .item-details h5 {
            margin-top: 20px;
            padding: 0 10px;
        }

        .item-details p {
            margin-bottom: 30px;
        }

        .find-us .container .location {
            margin-top: 60px;
        }


    }

    /* Media query for screens between 992px and 1200px */
    @media (min-width: 992px) and (max-width: 1199px) {
        .navbar-nav {
            width: 200%;
        }

        .overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .row-1 {
            margin-left: 40px;
            justify-content: space-between;
        }

        .item-details {
            align-items: center;
            text-align: center;
            /* margin-right: 50px; */
        }

        .item-details h5,
        .item-details p {
            margin-top: 20px;
            padding: 0 15px;
            line-height: 30px;
        }
    }